<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.webstore.mapper.AuthenticationMapper">
    <select id="itemIdList" resultType="Integer">
        SELECT item_id
        FROM minecraft_webstore.order
        <where>
            uuid = #{uuid}
            AND item_id = #{itemId}
        </where>
    </select>
</mapper>