<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.webstore.mapper.ItemMapper">
<!--    <cache/>-->
    <resultMap id="itemShowCaseInformation" type="ItemShowCaseInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="is_onsale" property="saleCondition"/>
        <result column="onsale_percent" property="salePercent"/>
        <result column="imageAddress" property="image_address"/>
        <result column="imageHoverAddress" property="image_hover_address"/>
    </resultMap>
    <select id="getItemList" resultMap="itemShowCaseInformation" useCache="true">
        select
            id, name, price, is_onsale, onsale_percent, image_address, image_hover_address
        from
            item_info
        where
            type = #{category}
    </select>


    <resultMap id="itemDetail" type="ItemDetail">
        <id column="t1_id" property="id"/>
        <result column="t1_type" property="type"/>
        <result column="t1_name" property="name"/>
        <result column="t1_price" property="price"/>
        <result column="t1_is_onsale" property="saleCondition"/>
        <result column="t1_onsale_percent" property="salePercent"/>
        <result column="t1_command" property="command"/>
        <result column="t1_image_address" property="imageAddress"/>
        <result column="t1_image_hover_address" property="imageHoverAddress"/>
        <result column="t2_description" property="description"/>
        <result column="t2_rawDescription" property="rawDescription"/>
    </resultMap>
    <select id="getSpecificItem" resultMap="itemDetail" useCache="true">
        select
            t1.id t1_id,
            t1.type t1_type,
            t1.name t1_name,
            t1.price t1_price,
            t1.is_onsale t1_is_onsale,
            t1.onsale_percent t1_onsale_percent,
            t1.command t1_command,
            t1.image_address t1_image_address,
            t1.image_hover_address t1_image_hover_address,
            t2.description t2_description,
            t2.rawDescription t2_rawDescription
        from
            item_info as t1,
            (select
                id,
                description,
                rawDescription
            from
                item_desc
            ) as t2
        where
            t1.description_id = t2.id
        and
            t1.id = #{id}
    </select>


    <select id="getItemName" resultType="String" useCache="true">
        SELECT name
        FROM item_info
        <where>
            id = #{itemId}
        </where>
    </select>


    <select id="getRuleDetails" resultType="String" useCache="true">
        SELECT description
        FROM item_desc
        WHERE id = #{ruleId}
    </select>
</mapper>