<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.webstore.mapper.PlayerInfoMapper">
    <resultMap id="information" type="PlayerInfo" autoMapping="true">
        <id column="a_id" property="id"/>
        <result column="a_player_name" property="name"/>
        <result column="a_legacy" property="legacy"/>
        <collection property="properties" ofType="Properties">
            <id column="b_id" property="id"/>
            <result column="b_property_name" property="name"/>
            <result column="b_value" property="value"/>
            <result column="b_signature" property="signature"/>
        </collection>
    </resultMap>
    <select id="getPlayerInfo" resultMap="information" useCache="true">
        SELECT
        a.id a_id, a.player_name a_player_name, b.property_name b_property_name, b.value b_value, b.signature b_signature, a.legacy
        FROM player_info a
        LEFT JOIN player_info b
        ON a.id = b.id
        <where>
            <if test="playerName != null and playerName != ''">
                a.player_name = #{playerName}
            </if>
        </where>
    </select>

    <insert id="addPlayer">
        INSERT INTO
        player_info(id, player_name, property_name, VALUE, signature, legacy)
        VALUES(#{id}, #{playerName}, #{propertyName}, #{value}, #{signature}, #{legacy})
    </insert>
</mapper>