<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.webstore.mapper.PlayerInfoMapper">
    <!--<cache/>-->
    <resultMap id="information" type="PlayerInfo" autoMapping="true">
        <id column="a_uuid" property="uuid"/>
        <result column="a_name" property="name"/>
        <result column="a_legacy" property="legacy"/>
    </resultMap>
    <select id="getPlayerInfo" resultMap="information" useCache="true">
        SELECT
        a.uuid a_uuid, a.name a_name, a.legacy a_legacy
        FROM player_info a
        <where>
            <if test="name != null and name != ''">
                a.name = #{name}
            </if>
        </where>
    </select>

    <insert id="addPlayer">
        INSERT INTO
        player_info(uuid, name, legacy)
        VALUES(#{uuid}, #{name}, #{legacy})
    </insert>
</mapper>