<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.webstore.mapper.StoreMapper">
    <resultMap id="store" type="ItemsList" autoMapping="true">
        <id column="i_id" property="id"/>
        <collection property="onSale" ofType="OnSale">
            <result column="s_is_onsale" property="isOnsale"/>
            <result column="s_surplus_time" property="surplusTime"/>
            <result column="s_onsale_percent" property="onsalePercent"/>
        </collection>
    </resultMap>
    <select id="getStoreItems" resultMap="store" useCache="true">
        SELECT
        i.id i_id, i.name, i.image, i.price,
        s.is_onsale s_is_onsale, s.surplus_time s_surplus_time, s.onsale_percent s_onsale_percent
        FROM items i
        LEFT JOIN items s
        ON i.id = s.id
        <where>
            <if test="type != null and type != ''">
                i.type = #{items}
            </if>
        </where>
    </select>
</mapper>