.post {
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}
.cover-wrap {
    position: relative;
}
.blackout {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.post .cover {
    height: 0;
    padding: 0 0 56.25%;
}
.post .post-body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
