/* 活塞位置 */
.piston {
    position: relative;
    top: -10px;
    z-index: 10;
    cursor: pointer;
    height: 0;
}

/* 活塞顶部 */
.piston .head {
    position: absolute;
    left: 0;
    right: 0;
    top: -63px;
    transition: all .2s ease-in-out;
}
.piston .top {
    background: url(https://ba1oretto.com/webstore/images/piston/top.png) 50% no-repeat;
    background-size: contain;
    width: 100px;
    position: relative;
    height: 76px;
    top: 0;
    z-index: 10;
}

/* 活塞中部 */
.piston .neck {
    background: url(https://ba1oretto.com/webstore/images/piston/middle.png) top no-repeat;
    background-size: 28px auto;
    width: 28px;
    margin: 0 auto;
    height: 23px;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: -1;
    transition: height .2s ease-in-out;
}

/* 活塞底座 */
.piston .base {
    background: url(https://ba1oretto.com/webstore/images/piston/bottom.png) top no-repeat;
    background-size: 100%;
    width: 100px;
    height: 54px;
}


.piston:hover .head {
    top: -27px
}

.piston:hover .neck {
    height: 0
}