/* 移动端的导航条 */
@screen md {
    .nav .mobile-toggle {
        display: none;
    }
}

.nav .mobile-toggle .bar {
    background: #fff;
    height: 4px;
    width: 30px;
    border-radius: 100px;
    transition: all .24s ease-in-out;
    position: relative;
    top: 0;
}

.nav .mobile-toggle .bar:nth-of-type(2) {
    margin: 6px 0;
}