.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page-bg[data-page=home]:after {
    background: linear-gradient(180deg,rgba(129,80,133,.7),transparent 18%,rgba(0,0,0,.2) 60%,#000);
}
.hero .logo {
    display: inline-block;
    max-width: 380px;
    width: 92%;
    position: relative;
}
.hero .logo .img {
    background: url(https://ba1oretto.com/webstore/images/logo.png) 50% no-repeat;
    background-size: contain;
    padding-bottom: 50.25%;
}
.video-wrap {
    position: relative;
}
.video-wrap .video {
    background: url(https://ba1oretto.com/home/video-face.png) 50%/cover no-repeat;
    cursor: pointer;
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%;
}
@screen sm {
    .video-wrap .video {
        padding: 0;
        max-width: 500px;
        height: 280px;
    }
}
.video-wrap .play {
    @apply absolute top-0 left-0 right-0 bottom-0 m-auto flex flex-col items-center justify-center text-center
}
.video-wrap:hover .play {
    filter: drop-shadow(0 0 15px #8b5cf6);
}
@screen sl {
    #homeBlog .posts .post:nth-of-type(odd) .blackout, #homeBlog .posts .post:nth-of-type(odd) .cover, #homeBlog .posts .post:nth-of-type(odd) .post-body {
        @apply scale-90
    }
    #homeBlog .posts .post:nth-of-type(odd) .blackout {
        @apply top-4
    }
}
#staff {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.indicator {
    @apply h-1
}
.indicator .progress {
    background: #f472b6;
    height: 4px;
    width: 30px;
    transition: width .15s linear;
}
#staff .island {
    background: url(https://ba1oretto.com/home/staff-background.png) 50% no-repeat;
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 130px;
    left: 0;
    right: 0;
    height: 280px;
}
@screen xsm {
    #staff .island {
        top: 120px;
    }
}
#staff .island:after {
    content: "";
    background: linear-gradient(180deg, #0d0e0f, transparent, #0d0e0f);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px
}
@screen lg {
    #staff .island {
        background-size: 100% auto;
        background-position: top;
        top: 0;
        bottom: 0;
        left: auto;
        right: -80px;
        width: 656px;
        height: auto;
    }
    #staff .island:after {
        display: none
    }
}
#staff .render img {
    transition: all .4s ease-in-out;
    height: 240px;
}
@screen lg {
    #staff .render img {
        height: auto;
    }
}
#staff .arrow {
    background: rgba(13,14,15,.6);
    padding: 8px;
}
