.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page-bg[data-page=home]:after {
    background: linear-gradient(180deg,rgba(129,80,133,.7),transparent 18%,rgba(0,0,0,.2) 60%,#000);
}
.hero .logo {
    display: inline-block;
    max-width: 380px;
    width: 92%;
    position: relative;
}
.hero .logo .img {
    background: url(https://ba1oretto.com/webstore/images/logo.png) 50% no-repeat;
    background-size: contain;
    padding-bottom: 50.25%;
}