/* 剪切板动画 */
.tooltip-enter-active {
    animation: tooltip 0.5s;
}
.tooltip-leave-active {
    animation: tooltip 0.5s reverse;
}
@keyframes tooltip {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 100;
    }
}