@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: proxima-nova;
        src: url("/src/assets/fonts/proximanova.ttf");
    }

    body {
        background: #000;
        color: #fff;
    }

    body {
        font-family: proxima-nova, sans-serif;
    }

    html, body, #app {
        height: 100%;
    }

    html, body {
        display: block;
    }

    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    p {
        line-height: 140%;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-weight: bold;
    }

    *, :before, :after {
        box-sizing: border-box;
    }

    blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
        margin: 0;
    }

    img, svg, video, canvas, audio, iframe, embed, object {
        display: block;
        vertical-align: middle;
    }

    button, input, optgroup, select, textarea {
        padding: 0;
        line-height: inherit;
        color: inherit;
    }

    button, input, optgroup, select, textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }

    button, [type=button], [type=submit] {
        -webkit-appearance: button;
    }

    button {
        cursor: pointer;
    }

    button {
        background-color: transparent;
        background-image: none;
    }

    button, select {
        text-transform: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    b, strong {
        font-weight: bolder;
    }
}

/* 移动端的导航栏样式 */
@screen md {
    .navigate .mobile {
        display: none;
    }
}

/* 固定端的导航栏样式 */
@screen mdm {
    .navigate .desktop {
        visibility: hidden;
        opacity: 0;
        transition: .24s all ease-in-out;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        padding: 20px 10px;
        z-index: 99999;
        pointer-events: none;
    }
}

/* 促销部分 */
.promotion {
    justify-content: space-between;
    background: linear-gradient(to right,#2196f3,rgba(33,150,243,0) 70%),url(https://s4.ax1x.com/2022/03/01/b125Mn.jpg) right center/cover;
}

/* 首页促销部分 */
@screen lg {
    .promotion {
        justify-content: space-between;
        background: linear-gradient(to right,#2196f3,rgba(33,150,243,0) 70%),url(https://s4.ax1x.com/2022/03/01/b125Mn.jpg) right center/cover;
    }

    .promotion .image .layer.lv1 {
        background: url(https://s4.ax1x.com/2022/03/01/b12xMR.png) bottom right no-repeat;
        background-size: auto 230px;
        right: 45px;
    }

    .promotion .image .layer.lv2 {
        background: url(https://s4.ax1x.com/2022/03/01/b1RSqx.png) bottom left no-repeat;
        background-size: auto 100%;
        left: -180px;
    }

    .promotion .text {
        max-width: 350px;
    }
}

/* 首页背景图片 */
.page-background {
    min-height: 600px;
    height: 70vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    background: bottom center no-repeat;
    background-size: cover;
}

/* 每个容器 */
/* 很重要 */
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px
}

/* 背景阴影 */
.text-shadow {
    text-shadow: rgb(0 0 0 / 30%) 0 2px 0;
}

/* 促销部分的我也不知道是什么 */
.promotion .image .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: bottom center;
    bottom: 0;
    background-size: auto 100%;
}

/* categories下的基础样式 */
.categories .category {
    background: #181a1b;
    box-shadow: #fff3 0 0 0 2px inset;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    position: relative;
    min-height: 230px;
    line-height: normal;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    overflow: hidden;
}

/* 鼠标悬浮的样式 */
.categories .category:hover {
    opacity: .8;
}

/* 字体样式 */
.categories .category .label {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* categories动画样式 */
.categories .category .render {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 指针悬停时正常的宝箱 */
.categories .category:hover .render .layer-regular {
    opacity: 0;
}

/* 指针悬停时打开的宝箱 */
.categories .category:hover .render .layer-hover {
    opacity: 1;
}

/* 不悬停时打开的宝箱 */
.categories .category .render div.layer-hover {
    opacity: 0;
}

/* 位置吧 我不知道 */
.categories .category .render div {
    background: bottom left/auto no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s ease-in-out opacity;
}

/* 我不知道 */
.modal {
    z-index: 99999;
}

/* 我不知道 */
.pointer-events-auto, .group:hover .group-hover\:pointer-events-auto {
    pointer-events: auto;
}

/* 我不知道 */
.content-wrap h2 {
    font-size: 28px;
}

.content-wrap h3 {
    font-size: 24px;
}

/* 我不知道 */
.content-wrap h1, .content-wrap h2, .content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 {
    padding-bottom: 10px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}

/* 正确应用样式 */
.content-wrap p {
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 1.6;
}

.toasts {
    z-index: 9999999;
}

/* 动画玩明白了 */
.slide-leave-active {
    animation: test ease-in-out 0.7s reverse;
}

.slide-enter-active {
    animation: test ease-in-out 0.7s;
}

@keyframes test {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}