@import "css/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: proxima-nova;
        src: url("/src/assets/proximanova.ttf");
    }

    body {
        background: #000;
        color: #fff;
        font-family: proxima-nova,sans-serif;
    }

    #app, body, html {
        height: 100%;
    }
}