.rol {
    margin-top: 40px;
    /*outline-style: solid;*/
    /*outline-width: 10px;*/
    /*outline-color: gray;*/
}

.cardbody {

}
.name {
    font-size: 18px;
}

.origin {
    color: #b2b6bb;
    font-size: 14px;
    text-decoration:line-through;
}

.now {
    font-size: 16px;
    color: #f8be20;

}

.col {

    margin-left: 30px;
    margin-bottom: 40px
}

.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: none;
}

.el-icon-right {
    margin-left: 10px;
    font-size: 20px;
    color: #5f6165;
}

.viewitems {
    font-size: 16px;
    color: #b2b6bb;
    font-weight: bold;

}


.image {

    margin: auto;
    width: 50%;
    display: block;

}

.clearfix:before,
.clearfix:after {

    display: table;
    content: "";
}

.clearfix:after {

    clear: both
}
