.rol {
    margin-top: 40px;
}

/*字体框的位移高度*/

.textbody {
    margin-top: -50px;
}

.cardbody {


}
.itembg {
    background-color: violet;
}

.name {
    font-size: 18px;
}

.origin {
    color: #b2b6bb;
    font-size: 14px;
    text-decoration:line-through;
}

.now {
    font-size: 16px;
    color: #f8be20;

}


.col {

    margin-left: 30px;
    margin-bottom: 40px
}

.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: none;
}

.el-icon-right {
    margin-left: 10px;
    font-size: 20px;
    color: #5f6165;
}

.viewitems {
    font-size: 16px;
    color: #b2b6bb;
    font-weight: bold;

}

/*在物品底层的相对背景格子位置*/

.itemsbg {
    /*必须是relative否则会出现叠加问题*/
    position: relative;
    /*相对格子数轴偏移*/
    top:100px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    height: 100px;
    background-color: #181a1b;
}

.image {
    position: relative;
    top: -60px;
    margin: auto;
    width: 50%;
    display: block;

}

.clearfix:before,
.clearfix:after {

    display: table;
    content: "";
}

.clearfix:after {

    clear: both
}
